.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 150px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}








.addFullRecordForm{

}

.background{
  /* background: rgb(33,0,36); */
/* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%);} */
}
.hidden{
  display: none;
}

.form{
  width:40%;
}

.skillsGrid{
  margin-top:20px; 
  align-items: center;
  justify-content: center;
  max-height: 95vh;
}

.skill_icon{
  width:75%; 

}
.skill_details_icon{
  width:40%;
  float: left;
}

.skill{
  width:25%;
  float: left;
  margin:10px;
  /* color:red; */
  font-size: calc(9px + 1vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.topSkill  :hover{
  /* background:red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
  opacity: 0.75;
  cursor: pointer;
}


.modal{
  text-align: center;
}




h1{
  font-size: calc(20px + 2vmin);
}

.main {
  margin-left: 5%; 
  /* Same as the width of the sidenav */
  font-size: calc(12px + 2vmin);
  padding: 0px 10px;
}

.link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(12px + 2vmin);
  color: #818181;
  display: block;
}

.link:hover {
  color: #f1f1f1;
}





.AutoCompleteText{
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.SkillsList{
  width: 100%;
  border: 1px #662D91;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}


.AutoCompleteText input{
  width: 100%;
  border:none;
  color:rgba(0,0,0,.73);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.AutoCompleteText ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top:1px solid gray;
  color:rgba(0,0,0,.73);
}
.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
  color:rgba(0,0,0,.73);
}

.AutoCompleteText li:hover {
text-decoration: underline;
background-color: rgba(128, 128, 128, 0.28);
}

.AutoCompleteText ul::before {
  content: "";
}

.flagText{
  margin: 100px;
}

.flagText:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.28);
  cursor: pointer;
  }

.App-Component{
  margin: 150px auto 0 auto;
  width: 600px;
}


.App {
  text-align: center;
  /* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background: rgb(63,94,251);
  background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background:purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
