.pinataNav {
  /* height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background:hsla(360, 100%, 0%, 0 );
  /* overflow-x: hidden;
  padding-top: 20px; */
}

#clear{
  background:hsla(360, 100%, 0%, 0) ;
}

.pinataNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  color: #818181;
  display: block;
}

.siIcon :hover{

}
.shIcon :hover{
  
}


.pinataNav a:hover {
  color: #f1f1f1;
}

.main {
  padding-left: 150px; /* Same as the width of the pinataNav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.recordsList{
  /* background-color:white; */
  background-color:hsla(0, 100%, 100%, 0.1);
  
  padding:15px 50px;
  margin-top:20px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:100%;

}
.recordTitle{
  
  padding:15px;

}






.addFullRecordForm{

}

.background{
  min-height: 100vh;
  z-index:-100;
  /* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
  background: linear-gradient(43deg, rgba(91,0,99,1) 0%, rgba(37,1,83,1) 49%, rgba(1,35,143,1) 100%);
  display: flex;
}

.hidden{
  display: none;
}

.form{
  width:100%;
  
}

.skillsGrid{
  margin-top:20px; 
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  justify-content: center;
  width:100%;
  max-height: 95vh;
}

.skill_icon{
  width:90%;
  padding:7.5%;
}

.skill_icon_heart{
  width:85%;
  padding:7.5%;
  padding-top:26px;
}

.skill_title{
  padding-top:10px;
  font-size: calc(8px + 1vmin);
  font-weight:bold;
  color:white;
 
}


.skill{
  
 
 width:27%;
  float: left;
  margin:2%;
  padding:1%;
  /* color:red; */
  font-size: calc(9px + 1vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.criticalSkill{
  width:35%;
  float: left;
  margin:25px;
  /* color:red; */
  font-size: calc(9px + 1vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.skill_details_icon{
  width:75%;
  
}

.skipButton{
  position: fixed;
  bottom: 30px;
  right:30px;
  margin: auto;
  text-align:center;

}

.topSkill{

/* width:100%; */
/* min-width:200px;  */
}

.topSkill  :hover{
  /* background:red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
  opacity: 0.75;
  cursor: pointer;
 
}


.modal{
  text-align: center;
}




h1{
  font-size: calc(20px + 2.5vmin);
  color:white;
}

h3{
  color:white;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:10px;
}
.main {
  /* padding-left: 5%;  */
  left:0;
  margin:0 auto;
  font-size: calc(12px + 2vmin);
  /* padding: 0px 10px; */
}

.link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(12px + 2vmin);
  color: #818181;
  display: block;
}

.link:hover {
  color: #f1f1f1;
}




 
.AutoCompleteText{
  width: 100%;
  /* border: 1px solid gray; */
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.SkillsList{
  width: 100%;
  border: 1px #662D91;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
  
}


.AutoCompleteText input{
  width: 100%;
  border:none;
  color:rgba(0,0,0,.73);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.AutoCompleteText ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top:1px solid gray;
  color:rgba(0,0,0,.73);
  
}
.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
  color:rgba(0,0,0,.73);
  background-color:white;
  font-size: 18px;

}

.AutoCompleteText li:hover {
text-decoration: underline;
color:white;
background-color: black;
}

.AutoCompleteText ul::before {
  content: "";
}

.flagText{
  margin: 100px;
}

.flagText:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.28);
  cursor: pointer;
  }

.App-Component{
  margin: 150px auto 0 auto;
  width: 600px;
}


.App {
  text-align: center;
  /* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background: rgb(63,94,251);
  background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background:purple; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
