.pinataNav {
  /* height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background:hsla(360, 100%, 0%, 0 );
  /* overflow-x: hidden;
  padding-top: 20px; */
}

#clear{
  background:hsla(360, 100%, 0%, 0) ;
}

.pinataNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  color: #818181;
  display: block;
}

.si :hover{

  background-color:hsla(0, 100%, 100%, 1) !important; 

}


.si{
  background-color:hsla(0, 100%, 100%, 0.1) !important; 
}


.pinataNav a:hover {
  color: #f1f1f1;
}


.main {
  text-align: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  width:100%;
  /* margin:0 auto; */
  font-size: calc(12px + 2vmin);
  background: linear-gradient(43deg, rgba(91,0,99,1) 0%, rgba(37,1,83,1) 49%, rgba(1,35,143,1) 100%);
  /* max-height:96vh !important; */
  
}

.addRecord{
  margin: 0 auto !important;
/* padding:0px 10%; */
  align-content: center;
  width:50%;
}

.recordsList{
  /* background-color:white; */
  /* background-color:hsla(0, 100%, 100%, 0.1);  */
  padding:20px;
  margin-top:20px;
  text-align:center;
  margin-left:25%;
  margin-right:auto;
  width:100%;
}
.recordTitle{
  
  padding:15px;

}

.recordTitles{
  color:hsla(224, 100%, 34%, 1);
  /* color:purple; */
}

.background{
  min-height: 100vh;
  z-index:-100;
  width:100%;
  /* margin: '0'; */
  /* display: cover; */
  /* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
  background: linear-gradient(43deg, rgba(91,0,99,1) 0%, rgba(37,1,83,1) 49%, rgba(1,35,143,1) 100%);
  display: flex;
}

.hidden{
  display: none;
}

.form{
  width:100%;
  
}

.skillsGrid{
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  width:80% !important;
  max-height:96vh !important;
}

.skill_icon{
  width:100%;
  
}

.skill_icon_heart{
  width:85%;
  padding:7%;
  padding-top:26px;
}

.skill_title{
  padding-top:10px;
  font-size: calc(8px + 1vmin);
  font-weight:bold;
  color:white;
 
}


.skill{
  
 width:31%;
 
  float: left;
  margin:1%;
  padding:1%;
  /* color:red; */
  font-size: calc(9px + 1vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.skill :hover{ 
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black; */
    opacity: 0.70;
    cursor: pointer;

}

.customSkillIcon { 
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black; */
  opacity: 1.0;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 4px;

}


.customSkillIcon :hover{ 
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black; */
  opacity: 0.30;
  cursor: pointer;
  border-color: black;

}

.customSkillIcon :focus{ 
outline: none;
/* box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
  0 0 0 1.5px rgba(255, 105, 180, 0.5); */
  box-shadow: 0 0 0 3px purple,
  0 0 0 1.5px purple;
}

.customSkillIcon :active {
  transform: translateY(2px);
  filter: saturate(150%);
  border-color: hotpink;
}

.criticalSkill :hover{
  
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black; */
  opacity: 0.70;
  cursor: pointer;

}


.criticalSkill{
  width:31%;
  float: left;
  margin-left:2%;
  margin-right:2%;
  margin-bottom: 30px;
  /* color:red; */
  font-size: calc(9px + 1vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #00000030;

}

.criticalGrid{
  margin-left:auto;
  margin-right:auto;
  padding-left: 23.2%;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  
}

.skill_details_icon{
  width:75%;
  
}


.modal{
  text-align: center;
}


#landing{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold !important;

  font-size: calc(60px + 2.5vmin);
  color:white;
}

#feeling{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium !important;
  font-size: calc(30px + 2.5vmin)!important;
  color:white;
  padding:'25px 70px';
}




h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium !important;
  font-size: calc(30px + 2.5vmin);
  color:white;
}

h2{
  font-family: 'Roboto', sans-serif;
}

h3{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium !important;
  color:white;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:10px;
}


h4{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium !important;
  color:white;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:10px;
}



.link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: calc(12px + 2vmin);
  color: #818181;
  display: block;
}

.link:hover {
  color: #f1f1f1;
}




 
.AutoCompleteText{
  width: 100%;
  /* border: 1px solid gray; */
  /* box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18); */
}

.SkillsList{
  width: 100%;
  border: 1px #662D91;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
  
}


.AutoCompleteText input{
  width: 100%;
  border:none;
  color:rgba(0,0,0,.73);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.AutoCompleteText ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top:1px solid gray;
  color:rgba(0,0,0,.73);
  
}
.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
  color:rgba(0,0,0,.73);
  background-color:white;
  font-size: 18px;

}

.AutoCompleteText li:hover {
text-decoration: underline;
color:white;
background-color: black;
}

.AutoCompleteText ul::before {
  content: "";
}

.flagText{
  margin: 100px;
}

.flagText:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.28);
  cursor: pointer;
  }



.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(43deg, rgba(33,0,36,1) 0%, rgba(56,9,121,1) 0%, rgba(0,212,255,1) 100%); */
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}


.siLink{
  background-color:hsla(0, 100%, 100%, 0.1); 
  padding:15px 50px;
  margin-top:20px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  /* width:100%; */
}


.myBtn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 5px 5px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  /* background-color: #9555af; */
  background-color: purple;
}

.myBtn {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}
/* old-school "down" effect on clic + color tweak */

.myBtn:active {
  transform: translateY(2px);
  filter: saturate(150%);
}

/* Firefox: removes the inner border shown on focus */
.myBtn::-moz-focus-inner {
  border: none;
}

/* inverse colors on hover */
.myBtn:hover,
.myBtn:focus {
  /* color: #9555af; */
  color: purple;
  border-color: currentColor;
  background-color: white;
}
/* make sure we have a visible focus ring */
.myBtn:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5); */
    box-shadow: 0 0 0 3px purple,
    0 0 0 1.5px purple;
}


/* hide focus style if not from keyboard navigation */
.js-focus-visible .myBtn:focus:not(.focus-visible) {
  box-shadow: none;
}



.subBtn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 50px 0px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: purple;
  background-color: white; 
}

.subBtn {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}
/* old-school "down" effect on clic + color tweak */

.subBtn:active {
  transform: translateY(2px);
  filter: saturate(150%);
}

/* Firefox: removes the inner border shown on focus */
.subBtn::-moz-focus-inner {
  border: none;
}

/* inverse colors on hover */
.subBtn:hover,
.subBtn:focus {
  color: white;
  border-color: currentColor;
  background-color: purple;
}

/* make sure we have a visible focus ring */
.subBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px purple,
    0 0 0 1.5px purple;
}


/* hide focus style if not from keyboard navigation */
.js-focus-visible .subBtn:focus:not(.focus-visible) {
  box-shadow: none;
}



.closeBtn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 50px 0px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px black;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: white;
  background-color: black; 
}

.closeBtn {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}
/* old-school "down" effect on clic + color tweak */

.closeBtn:active {
  transform: translateY(2px);
  filter: saturate(150%);
}

/* Firefox: removes the inner border shown on focus */
.closeBtn::-moz-focus-inner {
  border: none;
}

/* inverse colors on hover */
.closeBtn:hover,
.closeBtn:focus {
  color: black;
  border-color: currentColor;
  background-color: white;
}

/* make sure we have a visible focus ring */
.closeBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px black,
    0 0 0 1.5px black;
}


/* hide focus style if not from keyboard navigation */
.js-focus-visible .closeBtn:focus:not(.focus-visible) {
  box-shadow: none;
}


.skipButton{
  position: fixed;
  bottom: 30px;
  right:30px;
  margin: auto;
  text-align:center;

}



.skipBtn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
 
  margin:  10px auto;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #1302ff;
  background-color: white; 
  font-size: 18px;
}

.skipBtn {
  outline: none;
}


.skipBtn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}


.skipBtn::-moz-focus-inner {
  border: none;
}


.skipBtn:hover,
.skipBtn:focus {
  color: white;
  border-color: currentColor;
  background-color: #1302ff;
}


.skipBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #1302ff,
    0 0 0 1.5px #1302ff;
}


.js-focus-visible .skipBtn:focus:not(.focus-visible) {
  box-shadow: none;
}